@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --body-bkg: #083B4C;
    --cels-bkg: #1389B2;
    --buzz-yellow: #FFD166;
    --fizz-green: #0CD6A1;
    --fizzbuzz: #F0466F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bkg);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    padding: 1rem;
    font-weight: 700;
}

.raw {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.cels {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cels-bkg);
    aspect-ratio: 1;
}

.fizzbuzz {
    background-color: var(--fizzbuzz)
}

.buzz {
    background-color: var(--buzz-yellow);
}

.fizz {
    background-color: var(--fizz-green);
}